<div class="repository-container">
  <div class="repository-box">
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <h4 class="card-title text-center">
            <i class="fab fa-3x fa-github"></i>
          </h4>
          <h5 class="text-dark text-center">{{ username }}/{{ repo }}</h5>
          <div class="d-flex justify-content-center">
            <a [routerLink]="['/dashboard']" class="btn btn-success">
              <span>Back</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
