@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

::ng-deep body {
  background-color: #24292e !important;
}

::ng-deep .fas {
  color: $green;
}

.repository-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.repository-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

::ng-deep .card {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ng-invalid.ng-touched:not(form) {
  border-left: 4px solid theme-color("danger");
}

// .container{
//   height:85vh;
//   overflow: auto;
// }

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}

.author {
  &__avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;

    &__container {
      display: flex;
      justify-content: center;
    }
  }
}

.commit {
  &__container {
    width: 100%;
    border: none;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  &__verified {
    display: block;
  }
  &__content {
    display: flex;
    width: 75%;
    flex-direction: row;
  }

  &__message {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

@include media-breakpoint-down(md) {
  .commit {
    &__content {
      display: flex;
      width: 90%;
      flex-direction: column;
    }
    &__verified {
      display: none;
    }
  }
}
